#top{
	background: url(../../images/bg.jpg) repeat-x top;
}

#top .header{
	width: 1200px;
	margin: auto;
	min-width: 320px;
}

#top .header .topLine{
	border-top: 7px solid #04837e;
}

#top .header .topwrap{
	height: 102px;
}

#top .header .topwrap .logo{
	 float: left;
	 margin: 5px 0px 0px 0px;
	 height: 50px;
 }

#top .header .topwrap .title{
	margin: 50px 0px 0px 10px;
	float: right;
    color: #04837e;
}

#top .header .logininAndUp{
	float: right;
	margin: 15px 10px 15px 10px;
}

#top .header .search .ext{
	padding: 16px 0 10px 0px;
	text-align: right;
}

.nav{
	display: table;
	border-top: 1px solid #dedede;
	padding: 10px 2px 0px 2px;
}

#nav{
	margin: 5px 0px 0px 0px;
}

#nav li{
	float: left;
	position: relative;
	z-index: 999;
	padding: 5px 2px 5px 3px;
	display: inline;
	margin-top: -15px;
	height: 42px;
	line-height: 42px;
}

#nav li a{
	display: block;
	line-height: 42px;
	height: 42px;
	font-size: 15px;
	color: #333;
	padding: 0 14px;
	height: 42px;
	line-height: 42px;
}

#nav li a:hover{
	background: #04837e;
	color: #fff;
}

#nav ul{
	background: #015249;
	position: absolute;
	top: 56px;
	width: 180px;
	z-index: 2;
	padding: 5px 0;
	margin-left: 0px;
}

#nav ul li{
	float: none;
	display: block;
	background: #015249;
	height: 42px;
	line-height: 42px;
}

#nav ul li a{
	color: #fff;
	line-height: 42px;
	height: 42px;
	font-size: 14px;
}

#banner{
	width: 1200px;
	height: 320px;
	margin: 0px auto;
	z-index: 2;
	background: url(../../images/index/bigimg.jpg)
}

#banner img{
	width: 100%;
	height: 320px;
}

#banner .summary{
	width: 400px;
	height: 247px;
	background: rgba(1, 82, 73, 0.7);
	color: #fff;
	position: relative;
	left: 750px;
	top: 73px;
	border-bottom: 6px solid rgb(165, 165, 175);
}

#banner .summary .top{
	font-size: 12px;
	width: 120px;
	margin: 30px auto 0 auto;
	text-align: center;
}

#banner .summary .center{
	font-size: 28px;
	width: 350px;
	margin: 10px auto 15px auto;
	text-align: center;
	border-bottom: 1px solid rgba(255,255,255,0.6);
	padding-bottom: 15px;
}

#banner .summary .bottom{
	font-size: 14px;
	width: 350px;
	margin: 0 auto;
	text-align: justify;
	word-spacing: 2px;
}

#summary{
	width: 1000px;
	margin: 20px auto;
}

#summary .summaryTitle{
	color: rgb(1, 82, 73);
	font-size: 24px;
	border-bottom: 2px solid #ccc;
	height: 70px;
	line-height: 70px;
}

#summary .summaryItem{
	margin: 20px auto 0px auto;

}

.item1,.item2,.item3,.item4,.item5,.item6{
	float: left;
	width: 310px;
	height: 280px;
	background: rgba(204,204,204,0.3);
	margin: 0px 0px 30px 0px;
}

.item1,.item2,.item4,.item5{
	margin: 0px 30px 0px 0px;
}

#summary img{
	width: 310px;
}

#summary .itemTitle{
	margin: 20px 0px 20px 30px;
}

#summary .itemDetail{
	font-size: 14px;
	color: #555;
	margin: 0px 10px 10px 30px;
}

#bottom{
	clear: both;
	width: 100%;
	height: 240px;
	margin: 100px auto 0px auto;
	background: rgba(224,224,224,1.0);
}

#bottom .inner{
	width: 1050px;	
	margin: 0px auto 0px auto;
}

#bottom .inner li{
	float: left;
	margin: 20px 20px 20px 30px;
	text-align: justify;
}

#bottom .inner li a{
	color: #000;
}

#bottom .inner li .detail{
	margin: 30px 0px 0px 0px;
	font-size: 12px;
}

#bottom .inner li .detail div{
	margin: 5px 0px 0px 0px;
}

#bottom .inner li .detail a{
	color: #555;
}

#bottom .inner li .detail a:hover{
	color: #5d6d94;
}

#copyrights{
	width: 100%;
	background: #015249;
	margin: 0 auto;
}

.mainWrap{
    background: #015249;
	color: #acacac;
}

.mainWrap .link{
	width: 750px;
	margin: auto;
}

.mainWrap .link ul li{
	float: left;
	margin: 30px 20px 30px 20px;
    color: #dfdfdf;
}

.final{
	clear: both;
	width: 800px;
	margin: 0px auto 50px auto;
}

.final .left{
	float: left;
	padding-bottom: 10px;
}

.final .right{
	float: right;
	padding-bottom: 10px;
}

#marquee{
	width: 1000px;
	margin: 20px auto;
}

.marqueeTitle{
	clear: both;
	color: rgb(1, 82, 73);
	font-size: 24px;
	border-bottom: 2px solid #ccc;
	height: 70px;
	line-height: 70px;
}

.marqueeItem{
	float: left;
	width: 100%;
	height: 150px;
	background: rgba(204,204,204,0.3);
	margin: 20px 0px 60px 0px;
}
