#resource{
    position:relative;
    min-height: 400px;
    font-size: 14px;
    line-height: 24px;
    color: #444;
    text-align: justify;
}
.searchInput{
    width: 150px;
    border: 1px solid #04837e;
    font-size: large;
    outline: none;
    border-radius: 3px;
}
.searchSubmit:hover{
    border: 1px solid #fff;
    border-radius: 3px;
}
.searchSubmit:hover{
    background-color:#04837e;
}
.table{
    margin-top: 20px;
}
.table tr td{
    text-align: center;
    border: 1px;
    padding: 4px;
}
.firstRow{
    background-color:#04837e;
}
.firstRow td{
    color: #fff;
}
.trOdd{
    background-color: #d3d3d3;
}
td img{
    margin-bottom: 4px;
    margin-right: 5px;
}
.embed{
    padding-top: 10px;
}